* {
  font-family: Roboto, Arial;
}

#home{
    height: 100vh;
    background-color: #261C2C;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hometext {
    color: #6E85B2;
    margin-left: 50px;
}

.hometexttitle {
    font-size: 70px;
}

.hometextsubtitle {
    font-size: 40px;
}

.hometextp {
    font-size: 25px;
    margin-top: 20px;
    width: 760px;
}

.homebutton {
    font-size: 20px;
    color: #6E85B2;
    background-color: #3E2C41;
    border-radius: 20px;
    border: 2px #6E85B2 solid;
    margin-top: 10px;
    margin-left: 50px;
    width: 160px;
    height: 50px;
    transition: 0.3s;
}

.homebutton:hover {
    cursor: pointer;
    background-color: #5C527F;
}

#about {
    height: 50vh;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
