* {
  font-family: Signika, Roboto, Arial;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hometext,
.homebutton {
  animation: fadeIn 1s ease-in;
}

.homebutton,
.aboutbuttons {
  font-weight: bold;
  color: #6e85b2;
  background-color: #261c2c;
  border-radius: 30px;
  border: 2px #6e85b2 solid;
  transition: 0.3s;
}

.homebutton {
  animation: fadeIn 1s ease-in;
}

.homebutton:hover,
.aboutbuttons:hover {
  cursor: pointer;
  background-color: #3e2c41;
}

.hometext,
.abouttext,
.toolsskillstext,
.projectstext {
  color: #6e85b2;
  margin-left: 50px;
}

.hometextp,
.abouttextp,
.toolstext {
  font-size: 20px;
}

#home,
#about,
#toolsskills,
#projects {
  background-color: #261c2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home {
  height: 100vh;
  justify-content: center;
}

.hometexttitle {
  font-size: 70px;
}

.hometextsubtitle {
  font-size: 40px;
}

.hometextp {
  text-align: justify;
  margin-top: 20px;
  width: 760px;
}

.homebutton {
  font-size: 20px;
  border-radius: 100%;
  margin-top: 20px;
  margin-left: 50px;
  width: 45px;
  height: 45px;
}

#about {
  height: 60vh;
}

#toolsskills,
#projects {
  height: 53vh;
}

.abouttext {
  text-align: justify;
  width: 900px;
}

#aboutbuttonscont {
  display: flex;
  gap: 15px;
  margin-left: 50px;
}

.aboutbuttons {
  font-size: 16px;
  width: 120px;
  height: 50px;
}

#toolsskillmaincont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
  margin-left: 50px;
}

.toolsskillscont {
  color: #6e85b2;
  width: 300px;
  height: 300px;
  background-color: #261c2c;
  border: 2px #6e85b2 solid;
  border-radius: 20px;
  transition: 0.3s;
}

.toolsskillscont:hover {
  background-color: #3e2c41;
  transform: translateY(-10px);
}

.toolsskillsconttitle {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.infocont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
}

.networkingcont {
  width: 330px;
  height: 270px;
}

.toolsimg {
  width: 50px;
  height: 50px;
}

.round {
  border-radius: 30%;
}

.metasploitlogo {
  width: 35px;
  height: 50px;
}

.nmaplogo {
  width: 90px;
  height: 50px;
}

.programmingcont {
  width: 270px;
  height: 270px;
}

.ddacont {
  width: 350px;
  height: 160px;
}

#projects {
  height: 60vh;
}

#projectsmaincont {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 50px;
}

.projectinfocont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 30px;
  transition: 0.3s;
  gap: 20px;
}

.projectimg {
  width: 670px;
  height: 354px;
  border-radius: 25px;
}

.projectinfotitle {
  color: #6e85b2;
  width: 440px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectconttextp {
  font-size: 20px;
  text-align: justify;
  width: 410px;
}

.projectbuttons {
  margin-top: -15px;
  margin-bottom: -5px;
}

.projectbutton {
  font-weight: bold;
  color: #6e85b2;
  background-color: #261c2c;
  border: 2px #6e85b2 solid;
  transition: 0.3s;
}

.projectbutton:hover {
  background-color: #3e2c41;
}

.reportbutton {
  font-size: 16px;
  font-weight: bold;
  width: 130px;
  height: 40px;
  margin-top: -5px;
  color: #6e85b2;
  background-color: #261c2c;
  border: 2px #6e85b2 solid;
  border-radius: 30px;
  transition: 0.3s;
}

.reportbutton:hover {
  cursor: pointer;
  background-color: #3e2c41;
}

#footer {
  height: 10vh;
  background-color: #261c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footertext {
  color: #6e85b2;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #6e85b2 #261c2c;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #6e85b2;
}

h2 {
  font-weight: 600;
}
