* {
  font-family: Roboto, Arial;
}

.homebutton,
.aboutbuttons {
  font-weight: bold;
  color: #6e85b2;
  background-color: #261c2c;
  border-radius: 30px;
  border: 2px #6e85b2 solid;
  transition: 0.3s;
}

.homebutton:hover,
.aboutbuttons:hover {
  cursor: pointer;
  background-color: #5c527f;
}

.hometext,
.abouttext,
.toolsskillstext {
  color: #6e85b2;
  margin-left: 50px;
}

.hometextp,
.abouttextp,
.toolstext {
  font-size: 20px;
}

#home,
#about,
#toolsskills {
  background-color: #261c2c;
  display: flex;
  flex-direction: column;
}

#home {
  height: 100vh;
  justify-content: center;
}

.hometexttitle {
  font-size: 70px;
}

.hometextsubtitle {
  font-size: 40px;
}

.hometextp {
  text-align: justify;
  margin-top: 20px;
  width: 760px;
}

.homebutton {
  font-size: 20px;
  border-radius: 100%;
  margin-top: 20px;
  margin-left: 50px;
  width: 45px;
  height: 45px;
}

#about {
  height: 50vh;
  justify-content: flex-start;
}

.abouttext {
  text-align: justify;
  width: 900px;
}

#aboutbuttonscont {
  display: flex;
  gap: 15px;
  margin-left: 50px;
}

.aboutbuttons {
  font-size: 16px;
  width: 120px;
  height: 50px;
}

#toolsskills {
  background-color: white;
  height: 100vh;
  justify-content: flex-start;
}

.toolsskillscont {
  color: #6e85b2;
  width: 300px;
  height: 300px;
  background-color: #261c2c;
  border: 2px #6e85b2 solid;
  border-radius: 20px;
  transition: 0.3s;
}

.toolsskillscont:hover {
  cursor: pointer;
  background-color: #3e2c41;
  transform: translateY(-10px);
}

.toolsskillsconttitle {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.infocont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
}

.networkingcont {
  width: 350px;
}

.toolsimg {
  width: 50px;
  height: 50px;
}

.metasploitlogo {
  width: 50px;
  height: 70px;
}

.nmaplogo {
  width: 90px;
  height: 50px;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #6e85b2 #261c2c;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #6e85b2;
}
